<%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>

<table>
  <tr>
  <th>名前</th>
  <th>日にち</th>
  <th>IN-OUT</th>
  </tr>
<% @task.each do |task|%>
  <tr>
      <td><%="#{task.nickname}"%></td>

    <td><%="#{task.start_time.month}月#{task.start_time.day}日"%></td>
    <td><%= "#{task.intime.strftime('%H:%M')}〜#{task.outtime.strftime('%H:%M')}"%></td>
  </tr>  
 <%end %> 
</table>
 
<%=timeline @timeline,colors: ["#2ca9e1", "#f39800"] %>