<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shift Board</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+JP:400,700,900&display=swap" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  </head>

  <body>
    <header class="header">
      <div class="inner">
        <div class="nav">
          <div class="nav__left">
            <%= link_to image_tag("1.png"), root_path %>
          </div>
          <% if  user_signed_in? %>
             <div class="nav__right"> 
              <%= link_to "シフト閲覧",tasks_path, class: :nav__logout %>
              <%= link_to "シフト投稿",new_project_path, class: :nav__logout %>
              <%= link_to "掲示板投稿",new_tweet_path, class: :nav__logout %>
               <%= link_to "ログアウト",destroy_user_session_path,method: :delete, class: :nav__logout %>
             </div> 
          <% else %>
            <div class="nav__right">
              <%= link_to "ログイン", new_user_session_path , class: :nav__btn %>
              <%= link_to "新規登録", new_user_registration_path, class: :nav__btn %>
            </div>
          <% end %>
        </div>
      </div>
    </header>
    <%= yield %>
    <footer class="footer">
      <p class="copyright">Copyright SHIFTBOARD All rights reserved.</p>
    </footer>
  </body>
</html>
